.home .hero {
  position: relative;
  z-index: 2;
}

.home .hero h1.ui.header,
.home .hero h2 {
  color: #080707;
}

@keyframes scale-benefits-item {
  0% {
    transform: scale(.9)
  }

  to {
    transform: scale(1)
  }
}

@media (max-width: 767.98px) {

  .home .hero h1.ui.header,
  .home .alternative-cta h1.ui.header {
    font-size: 3em;
    margin-top: 2em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3%;
    color: #080707;
  }

  .home .alternative-cta h1.ui.header {
    margin-top: 0;
  }

  .home .hero h2,
  .home .alternative-cta h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #080707;
  }

  .landing-cta-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2em;
    margin-top: 2em;
  }

  .landing-cta-input-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 6px;
    background: var(--color-white);
    gap: 3px;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }

  .landing-email {
    width: 100%;
    height: 47px;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 16px;
    border: #070707e8 solid;
  }

  .home .ui.cta {
    background-color: #1a8037;
    color: var(--color-white);
    width: 100%;
    height: 47px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    margin: 0;
  }

  .landing-secondary-cta {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    text-underline-offset: 2px;
    width: 100%;
    display: none;
  }

  .landing-benefits {
    display: flex;
    flex-direction: column;
    margin: 10vh 1em;
    height: fit-content;
  }

  .landing-benefits-left {
    padding: 30px;
    align-content: center;
    width: 100%;
  }

  .landing-benefits-right {
    display: none;
  }

  .landing-price-tiers {
    display: flex;
    flex-direction: column;
    gap: 30px
  }
}

/* @media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

} */

/* @media (min-width: 1200px) { */

@media (min-width: 768px) {

  .home .landing-intro {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 50px;
    left: 0;
    background: radial-gradient(circle at 50% 425px, #4b6bec62, transparent 300px),
      radial-gradient(circle at calc(50% + 180px) 515px, #4bbcec62, transparent 190px),
      radial-gradient(circle at calc(50% - 220px) 360px, #894bec50, transparent 190px);
    background-color: transparent;
    z-index: 1;
  }

  .home .hero h1.ui.header,
  .home .alternative-cta h1.ui.header {
    font-size: 4.5em;
    margin-top: 2.5em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3%;
    color: #080707;
  }

  .home .alternative-cta h1.ui.header {
    margin-top: 0;
  }

  .home .hero h2,
  .home .alternative-cta h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    letter-spacing: 0.15px;
    font-weight: 500;
    color: #080707;
  }

  .landing-cta-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 3em;
  }

  .landing-cta-input-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-radius: 6px;
    background: var(--color-white);
    gap: 3px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
  }

  .landing-email {
    width: 285px;
    height: 47px;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 16px;
  }

  .home .ui.cta {
    background-color: #1a8037;
    color: var(--color-white);
    width: 218px;
    height: 47px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    margin: 0;
  }

  .landing-secondary-cta {
    margin-left: 32px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    text-underline-offset: 2px;
    display: none;
  }

  .landing-benefits {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);
    max-width: 1014px;
    margin: 10vh auto;
    height: fit-content;
  }

  .landing-benefits-right {
    flex: 1 1 50%;
    max-width: 50%;
    display: block;
    position: relative;
  }

  .landing-benefits-left {
    padding: 30px;
    align-content: center;
    flex: 1 1 50%;
    max-width: 50%;
  }

  .landing-price-tiers {
    display: flex;
    flex-direction: row;
    width: calc(100% - 2em);
    max-width: 1156px;
    gap: 30px
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-footer);
  border-top: 1px solid var(--color-secondary);
  padding: 8px 20px;
}

.page-footer .left-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.page-footer .right-links {
  min-width: 180px; /* make sure the menu dropdown doesn't overflow horizontally when language name is short */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-footer .right-links > a {
  border-left: 1px solid var(--color-secondary-dark-1);
  padding-left: 8px;
  margin-left: 5px;
}

.page-footer .ui.dropdown .menu.language-menu {
  max-height: min(500px, calc(100vh - 60px));
  overflow-y: auto;
  margin-bottom: 10px;
}

@media (max-width: 880px) {
  .page-footer {
    flex-direction: column;
    gap: 0.5em;
  }
}

.landing-email:focus {
  outline: 1px solid var(--color-primary);
  outline-offset: -1px;
}

.landing-secondary-cta svg {
  margin-left: 2px;
  vertical-align: middle;
  text-align: center;
  /* transition: transform .2s ease-in-out; */
}

/* .landing-secondary-cta svg:hover {
  transform: translateX(5px);
} */

.landing-secondary-cta:link {
  color: #080707;
}

/* visited link */
.landing-secondary-cta:visited {
  color: #080707;
}

/* mouse over link */
.landing-secondary-cta:hover {
  color: #080707;
}

/* selected link */
.landing-secondary-cta:active {
  color: #080707;
}

.landing-benefits-item {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  box-shadow: 0 -8px 10px #0000001a;
  height: 548px;
  overflow: hidden;
  position: sticky;
  transform-origin: center top;
  animation: scale-benefits-item linear both;
  will-change: transform;
  background-color: var(--color-white);
  color: #080707;
}

.landing-benefits-item.item-1 {
  top: calc(64px + 10vh);
  z-index: 4;
  margin-bottom: 154px;
  background: radial-gradient(circle at 50% -20%, #4b6bec62, transparent 35%),
    radial-gradient(circle at 65% -10%, #4bbcec62, transparent 25%);
  background-color: var(--color-white);
}

.landing-benefits-item.item-2 {
  top: calc(94px + 10vh);
  z-index: 5;
  margin-bottom: 124px;
  background: radial-gradient(circle at 40% -20%, #ecd14b62, transparent 35%),
    radial-gradient(circle at 25% -10%, #a9ec4b62, transparent 25%);
  background-color: var(--color-white);
}

.landing-benefits-item.item-3 {
  top: calc(124px + 10vh);
  z-index: 6;
  margin-bottom: 94px;
  background: radial-gradient(circle at 70% -20%, #ec4b5362, transparent 35%),
    radial-gradient(circle at 60% -10%, #bc4bec42, transparent 25%);
  background-color: var(--color-white);
}

.landing-benefits-item.item-4 {
  top: calc(154px + 10vh);
  z-index: 7;
  margin-bottom: 64px;
  background: radial-gradient(circle at 40% -20%, #794bec5a, transparent 35%),
    radial-gradient(circle at 50% -10%, #6232c34d, transparent 25%);
  background-color: var(--color-white);
}

.landing-benefits-item.item-5 {
  top: calc(204px + 10vh);
  z-index: 8;
  margin-bottom: 12px;
  background: radial-gradient(circle at 15% -20%, #ecd64b62, transparent 35%),
    radial-gradient(circle at 25% -10%, #eca34b62, transparent 25%);
  background-color: var(--color-white);
}

.landing-benefits-item h3 {
  font-size: 48px;
  line-height: 40px;
}

.landing-benefits-item p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.landing-benefits-item.item-1 .landing-benefits-right img {
  border-radius: 16px;
  box-shadow: 0 -8px 10px #0000001a;
  position: relative;
  top: 5em;
  left: 3em;
  height: 100%;
  width: auto;
}

.landing-benefits-item.item-2 .landing-benefits-right img {
  border-radius: 28px;
  box-shadow: 0 -8px 10px #0000001a;
  position: relative;
  top: 3em;
  left: 15%;
  height: 115%;
  width: auto;
}

.landing-benefits-item.item-3 .landing-benefits-right img {
  border-radius: 16px;
  box-shadow: 0 -8px 10px #0000001a;
  position: relative;
  top: 5em;
  left: 3em;
  height: 100%;
  width: auto;
}

.landing-benefits-item.item-4 .landing-benefits-right img {
  border-radius: 16px;
  box-shadow: 0 -8px 10px #0000001a;
  position: relative;
  top: 5em;
  left: 3em;
  height: 100%;
  width: auto;
}

.landing-benefits-item.item-5 .landing-benefits-right img {
  border-radius: 16px;
  box-shadow: 0 -8px 10px #0000001a;
  position: relative;
  top: 5em;
  left: 3em;
  height: 100%;
  width: auto;
}

.home .landing-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
}

.home .landing-price h1 {
  font-size: 4.1em;
  line-height: 1.15em;
  letter-spacing: -0.25px;
  text-align: center;
}

.home .landing-price h2 {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 2.5em;
  text-align: center;
}

.tier-container-free,
.tier-container-premium,
.tier-container-ultimate {
  flex: 1;
  padding: 20px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 1px 3px #0000001e,
    0 4px 8px 3px #0000000f;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  background-color: var(--color-white);
  color: #080707;
}

.tier-container-free h3,
.tier-container-premium h3,
.tier-container-ultimate h3 {
  font-size: 3.2em;
  line-height: 52px;
  margin-bottom: 0;
}

.tier-container-free {
  border: 1px solid #e2e2e2;
}

.tier-container-premium {
  border: 1px solid #2188ff;
}

.tier-container-ultimate {
  box-shadow: 0 4px 8px #0000001e;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(141deg, #8179f8 31%, #c05696 61%, #ff3333) border-box;

  border: 1px solid transparent;
}

.landing-price-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: fit-content;
}

.landing-inner-price-row {
  display: flex;
  flex-direction: row;
}

.landing-price-row-pad {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 58px;
}

.landing-price-bold-text,
.landing-price-bold-old-text {
  font-size: 3.3em;
  line-height: 120%;
  letter-spacing: -2%;
  font-weight: 700;
}

.landing-price-bold-old-text {
  color: #808080;
  /* text-decoration: line-through; */
  text-decoration-line: line-through;
  text-decoration-thickness: 5px;
}

.landing-price-info-text {
  font-size: 1.4em;
  line-height: 120%;
}

.landing-price-talk-text {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;
  font-weight: 600;
}

.tier-spacer {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
}

.landing-price-feature-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}

.landing-price-feature {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}

.home .outro {
  width: 100%;
  background-color: #8179f8;
  display: flex;
  margin-bottom: -80px;
  color: var(--color-white);
}

.home .alternative-cta {
  margin-top: 5em;
  margin-bottom: 5em;
  color: var(--color-white);
}