{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr " dashboard"}}{{else}}{{ctx.Locale.Tr "home" }}{{end}}"
  class="home">
  <div class="landing-intro"></div>
  <div class="ui center aligned container hero">
    <h1 class="ui header">Replace shared drives with a single, collaborative platform.</h1>
    <h2>Join the headache free, all-in-one document management platform.</h2>
    <form action="{{AppSubUrl}}/user/sign_up">
      <div class="landing-cta-container">
        <div class="landing-cta-input-container">
          <input class="landing-email" type="email" id="email" name="user_email" size="50" placeholder="Enter your email" />
          <button class="ui button cta"><span>Sign up for Bindersnap</span></button>
        </div>
        <a href="#learn" class="landing-secondary-cta">Learn more{{svg "octicon-chevron-right"}}</a>
      </div>
    </form>
  </div>

  <div class="landing-benefits">
    <div class="landing-benefits-item item-1">
      <div class="landing-benefits-left">
        <h3>Securely store your documents</h3>
        <p>Every document is tracked, creating a tamper-proof audit trail to support legal compliance and protect your
          work.
        </p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/commits_laptop.png" alt="{{ctx.Locale.Tr " logo"}}" aria-hidden="true">
      </div>
    </div>
    <div class="landing-benefits-item item-2">
      <div class="landing-benefits-left">
        <h3>Work from anywhere</h3>
        <p>Access and edit documents from any browser. No installs, no compatibility issues, no excuses.</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/iphone_review.png" alt="{{ctx.Locale.Tr " logo"}}" aria-hidden="true">
      </div>
    </div>
    <div class="landing-benefits-item item-3">
      <div class="landing-benefits-left">
        <h3>Collaborate effortlessly</h3>
        <p>Discuss changes, ask questions, and make decisions without leaving the platform — no extra tools or lost
          context.</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/collab_laptop.png" alt="{{ctx.Locale.Tr " logo"}}" aria-hidden="true">
      </div>
    </div>
    <div class="landing-benefits-item item-4">
      <div class="landing-benefits-left">
        <h3>Streamline reviews</h3>
        <p>Enforce approvals, catch issues early, and eliminate bottlenecks — without endless back-and-forth emails.</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/approval_laptop.png" alt="{{ctx.Locale.Tr " logo"}}" aria-hidden="true">
      </div>
    </div>
    <div class="landing-benefits-item item-5">
      <div class="landing-benefits-left">
        <h3>Meet deadlines</h3>
        <p>Create issues, assign tasks, resolve blockers and never lose sight of your goals with projects.</p>
      </div>
      <div class="landing-benefits-right">
        <img src="{{AssetUrlPrefix}}/img/project_laptop.png" alt="{{ctx.Locale.Tr " logo"}}" aria-hidden="true">
      </div>
    </div>
  </div>

  <div class="landing-price">
    <h1>Find the right plan for your business.</h1>
    <h2>Choose the Bindersnap plan that best fits your business.</h2>
    <div class="landing-price-tiers">
      <div class="tier-container-free">
        <h3>Free</h3>
        <div class="landing-price-row">
          <div class="landing-price-bold-text">$0</div>
          <div class="landing-price-info-text">per user/month</div>
        </div>
        <div class="tier-spacer"></div>
        <div class="landing-price-feature-label">Features include:</div>
        <div class="landing-price-feature">5 public/private repositories</div>
        <div class="landing-price-feature">issues and milestones</div>
        <div class="landing-price-feature">50MB of storage per repo</div>
      </div>
      <div class="tier-container-premium">
        <h3>Premium</h3>
        <div class="landing-price-row">
          <div class="landing-inner-price-row">
            <span class="landing-price-bold-old-text">$15</span>
            <span class="landing-price-bold-text">$5</span>
          </div>
          <div class="landing-price-info-text">per user / month,<br />billed annually</div>
        </div>
        <div class="tier-spacer"></div>
        <div class="landing-price-feature-label">Everything from Free, plus:</div>
        <div class="landing-price-feature">unlimited repositories</div>
        <div class="landing-price-feature">project management</div>
        <div class="landing-price-feature">multiple reviewers</div>
        <div class="landing-price-feature">required reviewers</div>
        <div class="landing-price-feature">draft change requests</div>
        <div class="landing-price-feature">protected branches</div>
        <div class="landing-price-feature">wikis</div>
        <div class="landing-price-feature">5GiB of storage per repo</div>
      </div>
      <div class="tier-container-ultimate">
        <h3>Ultimate</h3>
        <div class="landing-price-row-pad">
          <div class="landing-price-talk-text">Talk to sales for pricing</div>
        </div>
        <div class="tier-spacer"></div>
        <div class="landing-price-feature-label">Everything from Premium, plus:</div>
        <div class="landing-price-feature">data residence</div>
        <div class="landing-price-feature">enterprise managed users</div>
        <div class="landing-price-feature">user provisioning through SCIM</div>
        <div class="landing-price-feature">SAML single sign-on </div>
        <div class="landing-price-feature">white glove onboarding</div>
      </div>
    </div>
  </div>

  <div class="outro">
    <div class="ui center aligned container alternative-cta">
      <h1 class="ui header">Deliver better work, without the chaos.</h1>
      <h2>See what your team can do with the intelligent document platform.</h2>
      <form action="{{AppSubUrl}}/user/sign_up">
        <div class="landing-cta-container">
          <div class="landing-cta-input-container">
            <input class="landing-email" type="email" id="email" name="user_email" size="50" placeholder="Enter your email" />
            <button class="ui button cta"><span>Sign up for Bindersnap</span></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{template "base/footer" .}}